* { 
  margin: 0; 
  padding: 0; 
}

body { 
  font: 14px Georgia, serif; 
}

/* Wraps entire slot machine, button included*/
#page-wrapper { 
  width: 700px; 
  margin: 50px auto; 
}

/* Wraps the three slot machine columns */
.box-wrapper { 
  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  padding: 20px; background: white; 
  border: 1px solid #ccc; 
  margin: -1px 0 0 0; 
  height: 210px; 
  width: 650px;
  position: relative; 
}


/* Wraps a single column */
.column-box { 
  position: relative;
  float: left; 
  width: 30%; 
  overflow: hidden; 
  top: 20px; 
  left: 20px; 
  height: 200px;
  border: 1px solid black;
}

.col-item {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  /*top: 200px;*/
}

.col-item h3 {
  font-size: 4em;
  top: auto;
  bottom: auto;
}

.current { 
  z-index: 100; 
  /*top: 0px;*/
}