/* Blinking class and keyframe animation */
.blinking{
  -webkit-animation: blink linear 1s infinite;
  animation: blink linear 1s infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
@keyframes blink {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulsing{
  -webkit-animation: pulse linear 1s infinite;
  animation: pulse linear 1s infinite;
}
@-webkit-keyframes pulse {
  0% { width:130px; } 
  50% { width:150px; } 
  100% { width:130px; }
}

@keyframes pulse {
  0% { width:130px; } 
  50% { width:150px; } 
  100% { width:130px; }
}